__pycache__/

.DS_Store
.build/
Packages/
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

build/
assets/title.hex
assets/title.json
output.bmp

.task/
.vscode/
pyvm/
